---
import Statement from "./statement.astro";
---

<section
  class="scroll-mt-20 items-center gap-4 space-y-16 lg:flex lg:flex-col"
  id="message"
>
  <!-- Two Column Section   -->
  <div class="mt-8 grid w-full grid-cols-1 gap-4 px-16 lg:grid-cols-2">
    <!-- Headshot  -->
    <div
      class="3xl:justify-end 3xl:pr-24 flex items-center justify-center pr-12 2xl:pl-12"
    >
      <img src="taisei-headshot.png" alt="Nature" class="w-[28rem]" />
    </div>

    <!-- Company Message  -->
    <div class="mr-16 flex flex-col justify-start">
      <div
        class="mx-auto mt-12 flex w-full flex-col items-center rounded-md bg-secondary px-20 py-20 pb-36"
      >
        <span class="text-start font-light tracking-wide text-sm">
          Our unwavering mission is to be the pinnacle of excellence in sports
          and education, becoming the go-to-hub that empowers individuals to
          excel, grow, and define their own success stories. With innovation
          driving our every move, we are committed to crafting an immersive
          experience that unites sports and education, setting new standards and
          shaping a brighter future for all. Join us on this transformative
          journey as we re-define possibilities and re-define excellence.
        </span>
      </div>
      <div
        class="mt-4 flex flex-col items-center gap-2 text-center font-semibold italic tracking-tighter text-xl md:items-start"
      >
        <div
          class="-ml-8 -mt-10 w-[28rem] skew-x-[-20deg] transform bg-primary px-2 py-4"
        >
          <h2 class="skew-x-[20deg] transform">
            Founder & CEO Taisei Kitahara
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
