---
import Statement from "./statement.astro";
---

<section
  class="scroll-mt-20 items-center gap-4 space-y-16 lg:flex lg:flex-col"
  id="overview"
>
  <!-- Two Column Section   -->
  <div class="mt-8 grid w-full grid-cols-1 gap-4 px-36 lg:grid-cols-2">
    <!-- Company Overview  -->
    <div
      class="ml-6 flex flex-col items-start font-semibold uppercase italic text-3xl"
    >
      <span>Company</span>
      <span>Overview</span>
    </div>

    <!-- Company Message  -->
    <table class="">
      <tbody>
        <tr class="">
          <td class="px-4 py-2 font-semibold">Name</td>
          <td class="px-4 py-2 font-thin">DEFINE X Co. Ltd</td>
        </tr>
        <tr class="">
          <td class="px-4 py-2 font-semibold">Head Office</td>
          <td class="px-4 py-2 font-thin"
            >Level 18 Yebisu Garden Place Tower 4-20-3 Ebisu, Shibuya-ku Tokyo
            150-6018 Japan</td
          >
        </tr>
        <tr class="">
          <td class="px-4 py-2 font-semibold">Representative</td>
          <td class="px-4 py-2 font-thin">Founder & CEO Taisei Kitahara</td>
        </tr>
        <tr class="">
          <td class="px-4 py-2 font-semibold">Founded</td>
          <td class="px-4 py-2 font-thin">January 17, 2024</td>
        </tr>
        <tr class="">
          <td class="px-4 py-2 font-semibold">Capital</td>
          <td class="px-4 py-2 font-thin">1 million yen</td>
        </tr>
        <tr>
          <td class="px-4 py-2 font-semibold">Service</td>
          <td class="px-4 py-2 font-thin"
            >Sports Business, Education Business</td
          >
        </tr>
      </tbody>
    </table>
  </div>
</section>
