---
import { Icon } from "astro-icon/components";

export interface Props {
  id: string;
  title: string;
  description: string;
}

const { id, title, description } = Astro.props;
---

<section class="flex rounded-md bg-secondary text-white">
  <div class="flex w-full flex-col gap-2 px-8 py-10">
    <h2 class="font-bold text-primary text-4xl">
      {id}
    </h2>
    <h3 class="font-bold text-2xl">
      {title}
    </h3>
    <p class="mt-4 h-24">
      {description}
    </p>

    <p class="mt-8">
      Random info <br />
      More info
    </p>

    <div class="flex flex-col items-center gap-4 self-end">
      <a
        href="#"
        class="flex items-center justify-center gap-3 rounded-sm bg-primary px-4 py-3"
      >
        <div class="flex items-center justify-center gap-2">
          <span class="uppercase text-xs">Learn More</span>
          <Icon name="mdi:arrow-right" class="size-4" />
        </div>
      </a>
    </div>
  </div>
</section>
