---
import type { ServiceItem } from "~/types";
import ServiceBox from "./service-box.astro";

const services: Array<ServiceItem> = [
  {
    id: "01",
    title: "DEFINE ACADEMY",
    description:
      "This is where we provide english education services to aspiring athletes with dreams to play overseas",
  },
  {
    id: "02",
    title: "SPORTS",
    description: "We provide sports services. Coming soon. ",
  },
];
---

<section
  id="services"
  class="flex scroll-mt-20 flex-col items-center gap-4 space-y-8"
>
  <div class="mt-10 flex flex-col items-center gap-4">
    <h2
      class="gradient-text text-center font-semibold uppercase italic tracking-tight text-6xl"
    >
      Our Services
    </h2>
  </div>

  <div class="grid w-full grid-cols-1 gap-16 px-16 lg:grid-cols-2 xl:px-24">
    {
      services.map(({ id, title, description }) => (
        <ServiceBox id={id} title={title} description={description} />
      ))
    }
  </div>
</section>
